[Unit]
Description=Chequeo de salud de @@APP_NAME@@ cada 15 minutos

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
RandomizedDelaySec=60
Unit=@@APP_NAME@@-healthcheck.service

[Install]
WantedBy=timers.target
